@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WebApp for Versta</h1>
    <p>You can check all application  requirements on <a href="https://github.com/Ristly/Versta">my GitHub</a>.</p>
</div>

