@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="flex-column d-flex text">
    <h1 class="text-danger text-center">Oops, something goes wrong...</h1>
    <h3 class=" text-center" style="font-weight:400">Error @Model.StatusCode (@Model.StatusCodeDescription).</h3>
    <h3 class=" text-center" style="font-weight:400">Please, return to the Home page.</h3>
</div>


